.container {
  height: 60vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  @media screen and (max-width: 600px) {
    .chart {
      height: 100%;
    }
  }
  background-color: white;
}

